@import '~antd/lib/style/themes/default.less';
@import '../../../utils/utils.less';


.compnayLlist {
  margin-bottom: -24px;
  :global {
    .ant-list-item {
      border-bottom: 0;
    }
    .ant-list-header {
      border-bottom: 0;
      font-size: 18px;
    }
    .ant-menu-inline {
      border-right: 0;
    }
    .ant-layout-sider{
      border-right: 1px solid #e8e8e8;
    }
    .ant-card-actions{
      &>li{
        padding-right: 50px;
        text-align: right;
      }
    }
  }

  .companyItem{
    width: calc(100% + 1px);
    padding: 0 16px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &:hover{
      color: #1890ff;
    }
  }
  .companyItem-selected{
    background-color: #e6f7ff;
    color: #1890ff;
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 3px solid #1890ff;
    }
  }

  .tableListDelete {
    color: red;

  }

}

.cardList {
  margin-bottom: -24px;

  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 12px;
        & > a {
          color: @heading-color;
          display: inline-block;
          max-width: 100%;
        }
      }
      .ant-card-actions {
        background: #f7f9fa;
      }
      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }
  .item {
    height: 64px;
  }

}

.cardAvatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.listHeader{
  display: inline-block;
  width: 100%;
  &>div{
    &:first-child{
      float: left;
    }
    &:last-child{
      float: right;
    }

  }

}

.cardMetaDesc{
  .cardDiv{
    margin-top: 10px;
    &>span:first-child{
      color: #000;
      margin-right: 8px;
    }
  }
}


